* {
  margin: 0px;
  padding: 0px;
}

.Header {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline;
}

.todo {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}
